---
import Analytics from '@vercel/analytics/astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jonathan Lee</title>
    <Analytics />
</head>
<body>
    <slot />
</body>
</html>
